
*{
    background-color: #000000;
    color: white;
}
i{
    background: none;
    font-family:'Great Vibes', cursive;
}
#zish{
    background: none;
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(-10deg);
    margin-top: 0px;
    z-index: 2;
}
#heading{
    font-size: 100px;
    height: 100px;
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top: 10px
}
.top{
    text-decoration: none;
}
.top:hover{
    border: 2px solid #ffa800;
}
#top{
    position: relative;
    z-index: 3;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom: 0px;
}
#copyright{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
}
table, th, td{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 5px;
    padding-left: 30px;
    font-size: large;
    border-radius: 30%;
}
table{
    width: 75%;
    margin-left: 200px;
    margin-bottom: 20px;
}
#boxdiv{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.box{
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    color: #000000;
    text-decoration: underline;
}
.box-content{
    position: relative;
    font-size: 20px;
    background-color: #ffffff;
}
footer{
    color:white;
    text-align: center;
}
#thnx{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 60px;
    text-align: center;
    position: relative;
    z-index: 1;
}
#fya{
    margin-top: 40px;
    margin-bottom: 0px;
    justify-content: center;
    font-size: 30px;
    left: 50%;
    background: none;
    transform: translate(-50%) rotate(-4deg);
    position: absolute;
    font-family:'Great Vibes', cursive;
    z-index: 2;
}
